
body {
    background-color: brown;
    display: flex;
}

.container {
    background-color: beige;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: auto;
    width: 800px;

}
.form {
    margin: 20px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;

}

.form-input {
    margin: 10px;
    width: 100%;
    border-style: none;
}

.form-input name {
    width: 40%;
    display: flex;
    display: inline-block;
    
}
/* .name  {
    width: 40%;
    /* display: flex; */
    display: inline-block;
    
} */



.cloud {
    /* position: absolute;
    z-index: 5; */
    position: relative;
    bottom: 0;
    right: 100px;
   
}

.form-submit {
    background-color: rgb(231, 146, 0);
    color: white;
    margin: 10px;
padding: 10px;
border-radius: 5px;
border-style: none;
}




