body {
    background-color: rgb(139, 192, 225);
    display: flex;
    justify-content: center;
}

.form {
  background-color: white;
  min-height: 500px;
  min-width: 400px;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

h1 {
  text-align: start;
    width: 100%;
}

.input-name {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}


.form-input {
    /* margin: 10px; */
    padding: 10px;
    width: 90%;
    border: solid 1px lightgrey;
}

.checkbox{
  width: 50%;
}

.name {
  width: 40%;
    display: flex;
    display: inline-flex;
}

.button{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: end;

}

.form-submit {
  background-color: rgb(231, 146, 0);
  color: white;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  width: 40%;
  
}


.cloud {
    position: absolute; 
    z-index: 5; 
    background-image: url("images/cloud.jpg");
    position: absolute;
    bottom: 0;
    right: 100px; 
    top: 150px;
    left: 300px;
    z-index: -1;
     filter: blur(6px);
    -webkit-filter: blur(6px); 
   
}

#cloud {
  background: rgba(255, 255, 255);
  width: 300px; 
  height: 100px;
  border-radius: 150px;	
  box-shadow: 10px 10px rgba(167, 34, 34, 0.2);
  animation: move 3s infinite; 
  position: absolute;
  top: 150px;
  left: 500px;

  filter: blur(30px);

}

#cloud:after {
  content: '';
  background: rgba(255, 255, 255);
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: -50px;
  left: 50px;
}

#cloud:before {
  content: '';
  background: rgba(255, 255, 255);
  position: absolute;
  width: 170px;
  height: 150px;
  border-radius: 50%;
  top: -90px;
  right: 40px;
}

@keyframes move {
  0% {
    transform: translatex(0);
  }
  50% {
    transform: translatex(-40px);
  }
}





